<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit student</h1>
<a th:href="@{/students}">Back to student list</a>
<form th:href="@{/students/update/{id}(id=${studentUp.id})}" th:object="${studentUp}" method="post">
    <div>
        <label>Name:</label><br>
        <input type="text" name="name" th:field="*{name}">
    </div>
    <div>
        <label>Age:</label><br>
        <input type="text" name="age" th:field="*{age}">
    </div>
    <div>
        <label>Address:</label><br>
        <input type="text" name="address" th:field="*{address}">
    </div>
    <div>
        <label>Email:</label><br>
        <input type="text" name="email" th:field="*{email}">
    </div>
    <div>
        <label>Classroom:</label><br>
        <label>
            <select name="classroom">
                <option th:each="classrooms : ${classList}" th:value="${classrooms.id}" th:text="${classrooms.className}">
                    Enter your classroom
                </option>
            </select>
        </label>
    </div>
    <div>
        <label>Subject:</label><br>
        <div th:each="subject:${subjectList}">
            <input type="checkbox" name="subject" th:field="*{subjects}" th:value="${subject.id}" th:text="${subject.subjectName}"><br>
        </div>
    </div>
    <input type="submit" value="Edit">
</form>
</body>
</html>